{% if session.username %}
<p>Logged in as {{ session.username }}</p>
<a href="/logged">Continue</a>
{% if session.admin == "yes" %}
<a href="adlogged">Continue as admin</a>
{% endif %}
<a href="/logout">Log out</a>
<p>admin status: {{ session.admin }}</p>
{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
<p>Make a new user:</p>
<a href="/registration">Register</a>
</form>
{% endif %}