<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
<h2>Front page</h2>
Welcome to the restaurant rating app
{% if session.username %}
<p>Logged in as {{ session.username }}</p>
<a href="/home">Continue</a>
{% if admin %}
<a href="adlogged">Continue as admin</a>
{% endif %}
<a href="/logout">Log out</a>
<p>admin status: {{ session.admin }}</p>
{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
<hr>
<p>Make a new user:</p>
<a href="/registration">Register</a>
</form>
{% endif %}
{% endblock %}