<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
<title>Add a new restaurant for people to rate:</title>
<form action="/create" method="POST">
    <p>Restaurant:<br>
    <input type="text" name="topic"></p>
    <p>Rating 1:<br>
    <input type="text" name="choice"></p>
    <p>Rating 2:<br>
    <input type="text" name="choice"></p>
    <p>Rating 3:<br>
    <input type="text" name="choice"></p>
    <p>Rating 4:<br>
    <input type="text" name="choice"></p>
    <input type="submit" value="Create poll">
    <hr>
    <a href="/home">Go back</a>
    </form>
{% endblock %}