<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
<h2>{{ topic }}</h2>    
<hr>
<form action="/answer" method="POST">
{% for choice in choices %}
<input type="radio" name="answer" value="{{ choice[0] }}"> {{ choice[1] }} <br>
{% endfor %}
<p>
<input type="submit" value="Submit">
<input type="hidden" name="id" value="{{ id }}">
</form>
<hr>
<a href="/home">Back</a>
{% endblock %}
