{%if session.username %}
<p> Already logged in!</p>
<a href="/logged">Go back</a>
{% else %}
<form action="/register" method="POST">
<p>Enter username and password:</p>
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Register">
<br>
<p> Choose occupation: </p>
{% for occupation in occupations %}
<input type="radio" name="occupation" value="{{ occupation }}"> {{ occupation }} <br>
{% endfor %}
<br>
Admin user?
<br>
{% for choice in choices %}
<input type="radio" name="answer" value="{{ choice }}"> {{ choice }} <br>
{% endfor %}
</form>
{% endif %}