<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
{%if session.username %}
<p> Already logged in!</p>
<a href="/home">Go back</a>
{% else %}
<form action="/register" method="POST">
<h3> Registration</h3>
<p>Enter username and password:</p>
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Register">
<br>
<hr>
<p> Choose occupation: </p>
{% for occupation in occupations %}
<input type="radio" name="occupation" value="{{ occupation }}"> {{ occupation }} <br>
{% endfor %}
<br>
Admin user?
<br>
{% for choice in choices %}
<input type="radio" name="admin" value="{{ choice }}"> {{ choice }} <br>
{% endfor %}
</form>
{% endif %}
{% endblock %}